<!DOCTYPE html>
<html>
<head>
	<title>Delete a Student</title>
</head>
<body>
	<h2>Enter the age of the student you want to delete for no reason</h2>
	<form action="/anything" method="POST">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Save</button>
  </form>
</body>
</html>